div {
	height: 50px;
	width: 50px;
	background-color: red;
	margin: 5px 0;
	transition: all 0.5s linear;
}

div:first-of-type:hover {
	background-color: orange;
	width: 150px;
	height: 150px;
	transition: all 2s cubic-bezier(.1,1.41,.8,-0.61);
}

div:nth-of-type(2):hover {
	background-color: purple;
	width: 150px;
	height: 150px;
	transition: all 2s ease-in; /*一開始比較慢，後來比較快*/
}

div:last-of-type:hover {
	background-color: yellow;
	width: 150px;
	height: 150px;
	transition: background-color 2s ease-out, width 4s linear, height 0.5s ease-in;
}