* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: serif;
	font-weight: 400;
	font-size: 2.4vh;
	line-height: 3.6vh; /* 1.5 * font-size is nice. */
}

article {
	background-color: #fffae3;
	color: black;
	padding: 20px 20px;
}

h1 {
	font-size: 4.8vh;
	line-height: 7.2vh;
	color: #ffa200;
}

h2 {
	font-size: 3.6vh;
	line-height: 5.4vh;
	font-style: normal;
	color: orange;
}

h1, h2 {
	font-family: sans-serif;
}

section {
	background-color: #c9ebff;
	margin: 20px 10px;
	padding: 20px 20px;
}