* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	font-family: serif;
	font-weight: 400;
	font-size: 2.4vh;
	line-height: 3.6vh; /* 1.5 * font-size is nice. */
}

nav {
	position: fixed;
	/*text-align: center;*/
	left: 0%;
	height: 100%;
	width: 15%;
	background-color: #3E6B7E;
	font-family: sans-serif;
}

nav > div {
	/* display: inline-block; /* become a part of text */
	font-weight: bold;
	margin: 5% 0;
	padding: 10% 15%;
	height: 7%;
	color: #00314F;
	font-size: 3vh;
}

nav > div:hover { /* mouse */
	background-color: #00314F;
	color: #3E6B7E;
}


article {
	margin-left: 15%;
	background-color: white;
	/* background-color: #fffae3; */
	/* background-color: #85A894; */
	color: black;
	padding: 20px 20px;
}

h1 {
	font-size: 4.8vh;
	line-height: 7.2vh;
	color: #ffa200;
}

h2 {
	font-size: 3.6vh;
	line-height: 5.4vh;
	font-style: normal;
	color: orange;
}

h1, h2 {
	font-family: sans-serif;
}

section {
	background-color: #ebebeb;
	/* background-color: #c9ebff; */
	/* background-color: #fffae3; */
	margin: 30px 5%;
	padding: 20px 20px;
}

