/* border: 3px solid black;*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	font-family: serif;
	font-weight: 400;
	font-size: 2.4vh;
	line-height: 3.6vh; /* 1.5 * font-size is nice. */
}

nav {
	z-index: 10;
	position: fixed;
	top: 0;
	height: 6%;
	width: 100%;
	background-color: #707070;
	opacity: 0.7;
}

nav > div {
	height: 100%;
	width: 100%;
	margin-left: 50%;
}

nav > div div {
	display: inline-block; /* become a part of text */
	text-align: center;
	line-height: 6vh;
	width: 8vw;
	/*font-weight: bold;*/
	color: #ebebeb;
	font-size: 2vh;
	font-family: sans-serif;
	text-decoration:none;
}

nav > div div:hover { /* mouse */
	background-color: #415975; /*淺藍*/
}

div#home {
	background-color: #eeeeee;
}

div#home div {
	display: inline-block;
	height: 100vh; /* why not 100% */
	width: 33%;
	margin: auto;

	color: white;
	font-family: sans-serif;
	text-align: center;
	/*border: 3px solid black;*/
}

div#block1 {
	z-index: -1;
	margin: auto;
	height: 100vh; /* why not 100% */
	background-image: url('../img/dna-Genetic-Algorithm2.png');
	background-size: cover;
	opacity: 0.5;
}

div#block2 {
	z-index: -1;
	margin: auto;
	height: 100vh; /* why not 100% */
	background-image: url('../img/Flow-chart-of-genetic-algorithm.png');
	background-size: cover;
	opacity: 0.5;
}

div#block3 {
	z-index: -1;
	margin: auto;
	height: 100vh; /* why not 100% */
	background-image: url('../img/modular.png');
	background-size: cover;
	opacity: 0.5;
}

div#home h1 {
	z-index: 100;
	margin-top: 50vh;
	font-size: 6vh;
	line-height: 6vh;
	color: black;
	opacity: 1;
}



article {
	background-color: white;
	margin-top: 5%;
	margin-right: 15%;
	color: black;
	padding: 0 15%;
}

h1 {
	font-size: 4.8vh;
	line-height: 7.2vh;
	color: #ffa200;
}

h2 {
	font-size: 3.6vh;
	line-height: 5.4vh;
	font-style: normal;
	color: orange;
}

h1, h2 {
	font-family: sans-serif;
}

section {
	background-color: white;
	margin: 0px 5%;
	padding: 20px 20px;
}

